@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    color: white;
    background-color: rgba(10, 10, 10, 0.88);
}
/*###############################################*/
/*################## ERRORS #####################*/
/*###############################################*/
.is-invalid {
    color: red;
    font-size: 12px;
    max-width: 232px;
}
.is-valid {
    color: green;
    font-size: 12px;
}

.alert-success {
    color: green;
    background: #0080001c;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}
.alert-danger {
    color: red;
    background: #ff00001c;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}
/*###############################################*/
/*################## HEADER #####################*/
/*###############################################*/